.artist-card {
    background-color: #272D37;
    padding: 18px;
    border-radius: 16px;
}
.artist-card-img {
    position: relative;
}
.artist-card-img .profile {
    position: absolute;
    bottom: -40px;
    left: 30%;
}
.artist-card-img .profile img {
    width: 100px;
    border: 1px solid #3f41d2;
    height: 100px;
}
.artist-card-img .cover img {
    width: 15.625rem;
    height: 150px;   
    border-radius: 16px;
}
.name {
    text-align: center;
    margin-top: 40px;
}
.views img {
    width: 20px;
    height: 20px;
}
.views {
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
}
