.cardBody {
    padding: 20px 30px;
    background-color: #272D37;
    text-align: center;
    border-radius: 16px;
    margin: 10px;
    border: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
}
.cardBody:hover {
    background-color: #1E232C;
    border: 1px solid #4973c1;
}
.cardImg img {
    width: 50px;
    height: 50px;
}
.card-text h1 {
    font-size: 1.7em;
}
.card-text p{
    color: #ADB9C7;
    font-size: 0.9em;
}
